* {
    padding: 0px;
    margin: 0px;
    background-color: grey;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 970px;
    height: 700px;
    border: 1px solid black;
}
.box {
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    /*top: 200px;*/
}
.topbox {
    margin-top: 30px;
    border: 1px solid black;
}
.topbox h3 {
    font-size: 40px;
    padding: 30px;
    text-align: center;
}
.bottombox {
    margin-top: 30px;
    border: 1px solid black;
    top: 200px;
}
.bottombox h1 {
    padding: 30px;
    text-align: center;
}
