<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Users</title>
    </head>
    <body>
        <div class="container">
            <h1>Add a trip:</h1>
            <a href="/travels">Home</a>
            <a href="/logout">Logout</a>
            <form class="" action="/travels" method="post">
                {% csrf_token %}
                Destination: <input type="text" name="destination" placeholder="Destination">
                <br>
                Description: <input type="text" name="description" placeholder="description">
                <br>
                Travel Date Time: <input type="date" name="travel_start_date">
                <br>
                Tavel Date To: <input type="date" name="travel_end_date">
                <br>
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
